@font-face
	font-family DKAmericain
	font-style basic
	src url('../fonts/DKAmericain.otf')

@font-face
	font-family HelveticaLTPro
	font-style basic
	src url('../fonts/HelveticaNeueLTPro-Ex.otf')

@font-face
	font-family HelveticaLTStd
	font-style basic
	src url('../fonts/HelveticaNeueLTStd-Roman.otf')
@font-face
	font-family DustyRose
	font-style basic
	src url('../fonts/DustyRoseNF.ttf')

txt-color = #311b00
dir-color = #5f584b

body
	background-image url('../img/back_mandrake.png')
	background-repeat repeat

header
	width 100%
	figure,nav
		display inline-block
		vertical-align top

	figure
		width 25%
		margin-top 50px
		margin-left 30px
		margin-bottom 5px
		img
			width 70%

	nav
		margin 0
		padding 0
		text-align center
		width 100%
				
		ul
			margin 0
			padding 0
			width 100%

			li
				display inline-block
				margin-left 15px
				margin-right 15px
				vertical-align top
				width 12%
				a
					img
						width 100%
						height 67px
.container
	height 25px
	margin-top 1.5%
	width 100%
	
	img 
		width 100%

	.section_title
		width 100%
		figure
			margin 0 auto
			padding 0
			width 50%
	#home
		width 100%
		#telon
			background-image url('../img/mujeres2_mandrake.png')
			background-repeat no-repeat
			background-size 100%
			margin 0 auto
			padding 0
			height 590px
			position absolute
			width 95%
			z-index 10

		#slider
			margin 0 auto
			padding 0
			padding-top 50px
			width 80%
			#mySlider
				background-color #333
				border-radius 0 0 20px 20px
				height 500px
				width 100%

	#about_us, #directors, #clients, #services, #contact
		margin-top 100px
		margin-bottom 10px
		height auto
		width 100%

	#about_us

		#info_about
			background-image url('../img/background_sections.png')
			background-repeat repeat
			margin-top 15px
			margin-bottom 15px
			width 100%

			#text-about, #tv-about
				display inline-block
				margin 0 auto
				padding 0
				vertical-align middle
				width 45%
			#text-about
				padding 60px

				p.text_about
					color txt-color
					font-family "HelveticaLTStd", "Arial"
					font-size 22px
					line-height 35px
			
			#tv-about
				figure
					margin 0 auto
					padding 0
					width 70%
					img
						width 100%
	#directors
		
		#container_directors
			margin 0 auto
			padding 0
			margin-top 30px
			height auto
			width 65%

			.director
				width 95%
				height 750px
				.director_header
					figure, div
						display inline-block
						vertical-align middle
					img
						width 90%
					figure
						width 25%

					div
						text-align left 
						width 70%

						h2
							color dir-color
							font-family "DustyRose"
							font-size 70px
							margin 0
							padding 0

						p
							color txt-color
							font-family "HelveticaLTStd", "Arial"
							font-size 30px
							margin 0
							padding 0

				.director_display
					margin 0 auto
					padding 0
					height 100px
					width 71%

					.tv_directors
						background-image url('../img/directores_tv.png')
						background-repeat no-repeat
						background-size 100%
						margin 0 auto
						padding 0
						height 678px
						width 80%
					
					.tv_back
						background-color #000
						margin 0 auto
						padding 0
						position relative
						top -623px
						height 400px
						width 100%
						z-index 10

						.tv_play
							margin 0 auto
							padding 0
							width 50%
							position relative
							text-align center
							top 40%

							img
								width 30%
		
		#letrero
			margin 0 auto
			padding 0
			margin-top 100px
			height auto
			text-align center
			width 85%

			img
				width 100%

			figure
				width 100%

	#services
		#info_services
			background-image url('../img/background_sections.png')
			background-repeat repeat
			margin-top 15px
			margin-bottom 15px
			height auto
			width 100%
			
			img
				width 100%
			.img_services, #text_services
				display inline-block
				vertical-align top

			.img_services
				width 50%
				figure
					height 100%
					width 100%

			#text_services
				position absolute
				left 25%
				margin 0 auto
				padding 0
				margin-top 1.5%
				width 74%
				z-index 10

				p.text-right, p.text-left
					color txt-color
					display inline-block
					font-family "HelveticaLTStd", "Arial"
					font-size 20px
					line-height 30px
					vertical-align top
					width 35%

				p.text-right
					text-align right 
					margin-right 2%

				p.text-left
					text-align left

	#contact
		padding-bottom 50px
		img
			width 100%
		#info_contact
			background-image url('../img/background_sections.png')
			background-repeat repeat
			margin-top 15px
			padding-bottom 50px
			height auto
			width 100%

			#map_contact,#text_contact,#img_contact
				display inline-block
				vertical-align top

			#map_contact
				border-radius 15px
				margin-top 2.5%
				margin-left 2%
				width 44%
				height 350px

			#text_contact
				margin-top 1%
				padding-left 40px
				width 22%

				.contact_adress, .contact_productora, .contact_director
					h4 
						font-size 18px
						color txt-color
						margin 0 
						padding 0

					p
						color txt-color
						line-height 22px
						margin-top 5px
						margin-bottom 25px
						padding 0

			#img_contact
				width 25%
				height 50px

				img
					width 87%
				figure
					padding-left 13.4%
					text-align right
					width 100%

	#social_networks
		margin-top 5px
		padding-bottom 30px
		width 100%
		text-align center

		ul 
			margin 0 auto
			padding 0
			width 50%

			li
				cursor pointer
				display inline-block
				vertical-align top
				width 75px
				height 65px

				&.sn_facebook, &.sn_twitter, &.sn_vimeo, &.sn_youtube
					background-image url('../img/networks.png')
					background-repeat no-repeat
					background-size 400%
				
				&.sn_facebook
					background-position 0 0
				&.sn_facebook:hover
					background-position 0 -70px

				&.sn_twitter
					background-position -80px 0
				&.sn_twitter:hover
					background-position -80px -70px

				&.sn_vimeo
					background-position -158px 0
				&.sn_vimeo:hover
					background-position -158px -70px

				&.sn_youtube
					background-position -230px 0
				&.sn_youtube:hover
					background-position -230px -70px

.fixed 
	background-image url('../img/back_mandrake.png')
	background-repeat repeat
	width 100%
	position fixed
	top 0
	left 1px
	z-index 9999

@media only screen and (min-width: 768px) and (max-width: 959px)
	header
		width 100%
		figure,nav
			display inline-block
			vertical-align top

		figure
			width 40%
			margin-top 50px
			margin-left 30px
			margin-bottom 5px
			img
				width 70%

		nav
			margin 0
			padding 0
			text-align center
			width 100%
					
			ul
				margin 0
				padding 0
				width 100%

				li
					display inline-block
					
					vertical-align top
					width 12%
					a
						img
							width 100%
	.container
		img 
			width 100%
		.section_title
			figure
				width 70%
		#home
			width 100%
			#telon
				margin 0 auto
				padding 0
				height 400px
			#slider
				padding-top 15px
				width 70%
				#mySlider
					background-color #333
					border-radius 0 0 20px 20px
					height 300px
					width 100%

		#about_us, #directors, #clients, #services, #contact
			margin-top 100px
			margin-bottom 10px
			height auto
			width 100%

		#about_us

			#info_about
				margin-top 15px
				margin-bottom 15px
				width 100%

				#text-about, #tv-about
					display inline-block
					margin 0 auto
					padding 0
					vertical-align middle
					width 40%
				#text-about
					padding 40px

					p.text_about
						color txt-color
						font-family "HelveticaLTStd", "Arial"
						font-size 18px
						line-height 25px
				
				#tv-about
					figure
						margin 0 auto
						padding 0
						width 90%
						img
							width 100%
		#directors
			
			#container_directors
				margin 0 auto
				padding 0
				margin-top 30px
				height auto
				width 65%

				.director
					width 95%
					height 500px
					.director_header
						img
							width 90%
						figure
							width 28%

						div
							text-align left 
							width 70%

							h2
								font-size 50px
							p
								font-size 25px

					.director_display
						.tv_directors
							height 290%
							width 80%
						.tv_back
							top -255%
							height 220%
							width 100%
							z-index 10

							.tv_play
								width 50%
								top 40%
			
			#letrero
				margin-top 25px
				width 85%

		#services
			#info_services
				margin-top 5px
				margin-bottom 15px
				width 100%
				
				img
					width 100%

				.img_services
					width 45%
					figure
						height 100%
						width 100%

				#text_services
					left 29%
					margin-top 1px
					width 68%

					p.text-right, p.text-left
						font-size 16px
						line-height 18px
						width 45%

		#contact

			img
				width 100%
			#info_contact
				#map_contact
					border-radius 15px
					margin-top 6.5%
					margin-left 0.5%
					width 40%
					height 250px

				#text_contact
					padding-left 10px
					width 29.7%

					.contact_adress, .contact_productora, .contact_director
						h4 
							font-size 15px

						p
							font-size 14px
							line-height 18px
							margin-bottom 10px

				#img_contact
					width 25%

					img
						width 87%
						height 375px
					figure
						padding-left 0.1%
						text-align right
						width 110%

		#social_networks

			ul 
				margin 0 auto
				padding 0
				width 50%

				li
					width 75px
					height 65px
					
					&.sn_facebook
						background-position 0 -70px

					&.sn_twitter
						background-position -80px -70px

					&.sn_vimeo
						background-position -158px -70px

					&.sn_youtube
						background-position -230px -70px

@media only screen and (min-width: 480px) and (max-width: 767px)
	header
		width 100%
		figure,nav
			display inline-block
			vertical-align top

		figure
			width 60%
			margin-top 30px
			margin-left 30px
			margin-bottom 5px
			img
				width 70%

		nav
			margin 0
			padding 0
			text-align center
			width 100%
					
			ul
				display none

	.container
		margin-top -40px
		img 
			width 100%

		.section_title
			width 100%
			figure
				margin 0 auto
				padding 0
				width 100%
				margin-top -40px
		#home
			width 100%
			#telon
				background-image none
			#slider
				width 90%
				#mySlider
					background-color #333
					border-radius 10px
					height 300px
					width 100%

		#about_us, #directors, #clients, #services, #contact
			margin-top 100px
			margin-bottom 10px
			height auto
			width 100%

		#about_us
			#info_about
				margin-top 15px
				margin-bottom 15px
				width 100%

				#text-about
					margin 0 auto
					padding 0
					margin-left 5px
					vertical-align top
					width 95%

					p.text_about
						color txt-color
						font-family "HelveticaLTStd", "Arial"
						font-size 16px
						line-height 25px
				
				#tv-about
					display none

		#directors
			
			#container_directors
				margin 0 auto
				padding 0
				margin-top 30px
				height auto
				width 80%

				.director
					width 95%
					height 425px
					.director_header
						img
							width 90%
						figure
							width 28%

						div
							text-align left 
							width 70%

							h2
								font-size 40px
							p
								font-size 25px

					.director_display
						width 90%
						.tv_directors
							background-image none
							height 290%
							width 80%
						.tv_back
							top -255%
							height 220%
							width 100%
							z-index 10

							.tv_play
								width 70%
								top 35%

								img
									width 20%
			
			#letrero
				margin-top 25px
				width 95%

		#services
			#info_services
				margin-top 5px
				margin-bottom 15px
				width 100%
				
				img
					width 100%

				.img_services
					display none
					figure
						height 100%
						width 100%

				#text_services
					left 0
					position relative
					margin 0 auto
					padding 0
					margin-top 1.5%
					width 100%

					p.text-right, p.text-left
						display inline-block
						font-size 18px
						line-height 25px
						vertical-align top
						width 45%

					p.text-right
						text-align right 
						margin-right 2%

					p.text-left
						text-align left

		#contact

			img
				width 100%
			#info_contact
				#map_contact
					border-radius 15px
					margin-top 6.5%
					margin-left 0.5%
					width 100%
					height 250px

				#text_contact
					margin-top 10px
					padding-left 10px
					width 40%

					.contact_adress, .contact_productora, .contact_director
						h4 
							font-size 15px

						p
							font-size 14px
							line-height 18px
							margin-bottom 10px

				#img_contact
					margin-top 10px
					width 50%

					img
						width 87%
					figure
						padding-left 3.8%
						text-align right
						width 110%

		#social_networks

			ul 
				margin 0 auto
				padding 0
				width 100%

				li
					width 75px
					height 65px
					
					&.sn_facebook
						background-position 0 -70px

					&.sn_twitter
						background-position -80px -70px

					&.sn_vimeo
						background-position -158px -70px

					&.sn_youtube
						background-position -230px -70px

@media only screen and (min-width: 320px) and (max-width: 479px)
	header
		width 100%
		figure,nav
			display inline-block
			vertical-align top

		figure
			width 60%
			margin-top 30px
			margin-left 30px
			margin-bottom 5px
			img
				width 70%

		nav
			margin 0
			padding 0
			text-align center
			width 100%
					
			ul
				display none

	.container
		margin-top -40px
		img 
			width 100%

		.section_title
			width 100%
			figure
				margin 0 auto
				padding 0
				width 100%
				margin-top -40px
		#home
			width 100%
			#telon
				background-image none
			#slider
				width 90%
				#mySlider
					background-color #333
					border-radius 10px
					height 300px
					width 100%

		#about_us, #directors, #clients, #services, #contact
			margin-top 100px
			margin-bottom 10px
			height auto
			width 100%

		#about_us
			#info_about
				margin-top 15px
				margin-bottom 15px
				width 100%

				#text-about
					margin 0 auto
					padding 0
					margin-left 5px
					vertical-align top
					width 95%

					p.text_about
						color txt-color
						font-family "HelveticaLTStd", "Arial"
						font-size 16px
						line-height 25px
				
				#tv-about
					display none

		#directors
			
			#container_directors
				margin 0 auto
				padding 0
				margin-top 30px
				height auto
				width 98%

				.director
					width 95%
					height 425px
					.director_header
						img
							width 90%
						figure
							width 28%

						div
							text-align left 
							width 70%

							h2
								font-size 40px
							p
								font-size 25px

					.director_display
						width 90%
						.tv_directors
							background-image none
							height 290%
							width 80%
						.tv_back
							top -255%
							height 220%
							width 100%
							z-index 10

							.tv_play
								width 70%
								top 35%

								img
									width 20%
			
			#letrero
				margin-top 25px
				width 95%

		#services
			#info_services
				margin-top 5px
				margin-bottom 15px
				width 100%
				
				img
					width 100%

				.img_services
					display none
					figure
						height 100%
						width 100%

				#text_services
					left 0
					position relative
					margin 0 auto
					padding 0
					margin-top 1.5%
					width 100%

					p.text-right, p.text-left
						display inline-block
						font-size 18px
						line-height 25px
						vertical-align top
						width 45%

					p.text-right
						text-align right 
						margin-right 2%

					p.text-left
						text-align left

		#contact

			img
				width 100%
			#info_contact
				#map_contact
					border-radius 15px
					margin-top 6.5%
					margin-left 0.5%
					width 100%
					height 250px

				#text_contact
					margin-top 10px
					padding-left 10px
					width 40%

					.contact_adress, .contact_productora, .contact_director
						h4 
							font-size 15px

						p
							font-size 14px
							line-height 18px
							margin-bottom 10px

				#img_contact
					margin-top 10px
					width 50%

					img
						width 87%
					figure
						padding-left 3.8%
						text-align right
						width 110%

		#social_networks

			ul 
				margin 0 auto
				padding 0
				width 100%

				li
					width 75px
					height 65px
					
					&.sn_facebook
						background-position 0 -70px

					&.sn_twitter
						background-position -80px -70px

					&.sn_vimeo
						background-position -158px -70px

					&.sn_youtube
						background-position -230px -70px